.header {
  width: 100%;
  margin: 0 auto;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
  margin-top: 0;
}

.input {
  padding: 16px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 16px;
  outline: none;
  background-color: transparent;
  max-width: 100%;
  width: 250px;
}

.input:focus {
  border-color: blue;
  box-shadow: 0 4px 6px rgba(0, 0, 255, 0.5);
}

.btn {
  padding: 8px;
  font-size: 26px;
  font-weight: bold;
  border: 1px solid black;
  outline: none;
  border-radius: 16px;
  background-color: transparent;
}

.btn:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 255, 0.5);
  border-color: blue;
  color: blue;
}
