.btn {
  border: 1px solid black;
  border-radius: 16px;
  background-color: transparent;
  transition: all 0.25s ease;
  outline: none;
}

.btn:hover {
  border-color: blue;
  box-shadow: 0 4px 6px rgba(0, 0, 255, 0.5);
  color: blue;
}
